[submodule "frontend-repo"]
    path = frontend-repo
    url = https://github.com/SaraHammoud/frontend-repo.git

[submodule "backend-repo"]
    path = backend-repo
    url = https://github.com/SaraHammoud/backend-repo.git
